<center> <h1> Media Mavic's Dashboard</h1> </center>

<div class="">
  <button type = "button" name = "Edit Styles">
    <%= link_to "Video Styles", video_styles_path %>
  </button>
</div>

<br> <br>

<div class="">
  <button type="button" name="campaigns">
  <%= link_to "Campaign Orders", campaigns_path %>
  </button>
</div>

<!-- <button type = "button" name = "campaigns">
  <%= link_to "Campaign orders", campaigns_path %>
</button> -->
<!-- <%= link_to "Edit Video Styles", "video_styles"%> -->
